*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    
}
.top-header{
    width: 100%;
    height: 30px;
    background-color: rgb(241, 241, 41);
    text-align: center;
}
.top-header p{
    font-family: 'Segoe UI';
    color: rgb(42, 42, 42);
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.192);
   
}
.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    color:black;
    transition: all .2s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sticky + .content {
    padding-top: 60px;
    transition: all .2s ease-in;
}
.logo{
    width: 30%;
    margin-top: 10px;
}
.logo h2{
    margin-left: 100px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    
}
.logo h2:nth-last-of-type(1){
    margin-left: 100px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}
section{
    width: 60%;
    margin-right: 20px;
}
section ul{
    display: flex;
    justify-content: space-around;
}
section ul li{
    list-style: none;
    transition: all 1s ease-in-out;
}
section ul li h3{
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
}
.button-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 70px;
}
.button-icons i{
    cursor: pointer;
    width: 50px;
    font-size: 25px;
}
.slider{


    margin:50px auto;
    border:1px solid;
    overflow:hidden;
  }
  .slideshow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    height:100%;
    -webkit-animation:slide 16s infinite;
    -moz-animation:slide 16s infinite;
    animation:slide 16s infinite;
      /*-webkit-animation-iteration-count: 2,2,2,2; /* Chrome, Safari, Opera */
      /*animation-iteration-count: 2,2,2,2;*/
  }
  .slider-1, .slider-2, .slider-3, .slider-4, .slider-5{
    float:left;
    width: 100vw;
  }

  
  @-webkit-keyframes slide{
0%,100% {
          margin-left:0%;
      }
      
      10% {
          margin-left:0%;
      }
      
      20% {
          margin-left:-101%;
      }
      
      30% {
          margin-left:-101%;
      }
      
      40% {
          margin-left:-202%;
      }
      
      50% {
          margin-left:-202%;
      }
      
      60% {
          margin-left:-303%;
      }
      
      70% {
          margin-left:-303%;  
      }
      80%{
          margin-left: -404%;
      }
      90%{
        margin-left: -404%;
      }

  }
  @-moz-keyframes slide{
0%,100% {
          margin-left:0%;
      }
      
      10% {
          margin-left:0%;
      }
      
      20% {
          margin-left:-101%;
      }
      
      30% {
          margin-left:-101%;
      }
      
      40% {
          margin-left:-202%;
      }
      
      50% {
          margin-left:-202%;
      }
      
      60% {
          margin-left:-303%;
      }
      
      70% {
          margin-left:-303%;  
      }
      80%{
          margin-left: -404%;
      }
      90%{
        margin-left: -404%;
      }

  }
  @keyframes slide{
    0%,100% {
          margin-left:0%;
      }
      
      10% {
          margin-left:0%;
      }
      
      20% {
          margin-left:-101%;
      }
      
      30% {
          margin-left:-101%;
      }
      
      40% {
          margin-left:-202%;
      }
      
      50% {
          margin-left:-202%;
      }
      
      60% {
          margin-left:-303%;
      }
      
      70% {
          margin-left:-303%;  
      }
      80%{
          margin-left: -404%;
      }
      90%{
        margin-left: -404%;
      }


  }
/* Middle Part */

.middle{
    padding-top: 115vh;
    width: 80%;
    display: block;
    
    margin: 0 auto;
}
.middle h1{
    font-size: 3rem;

}
.mens{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    height: 70vh;
}
.models-men{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 540px;
    padding: 0 20px;
}
.models-men img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}
.models-men:hover img {
	transform: scale(1.1);
}
